---
import BaseLayout from '../layouts/BaseLayout.astro';
import Container from '../components/Container.astro';
---

<BaseLayout title="Home"> 
	<Container>
		<h2>Main</h2>
	</Container>
</BaseLayout>