---
import Nav from "./Nav.astro"
import Container from "./Container.astro"
---

<header class="header">
    <Container>
        <div class="header-row">
            <Nav />
        </div>
    </Container>
</header>

<style>
    .header {
        display: block;
        width: 100%;
        padding: 2rem 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 900;
        background: var(--bg-color);
        color: var(--dark-color);
    }
    .header-row {
        display: flex;
        justify-content: flex-end;
    }
</style>