---
---

<nav class="nav">
    <a class="nav-item" href="/">Home</a>
    <a class="nav-item" href="/works">Works</a>
    <a class="nav-item" href="/blog">Blog</a>
    <a class="nav-item" href="/contact">Contact</a>
</nav>

<style>
    .nav {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .nav-item {
        font-weight: 500;
        font-size: 1.25rem;
        color: currentColor;
        transition: .2s;
    }
    .nav-item:hover {
        color: var(--primary-color);
    }
    @media screen and (max-width: 576px) {
        .nav-item {
            font-size: 1rem;
        }
    }
    @media screen and (max-width: 425px) {
        .nav {
            display: none;
        }
</style>